:root {
  /* bg */
  --primary-bg-color: #ffffff;
  --footer-hero-bg-color: #2e2f42;
  /* address */
  --address-color: #ffffff;
  --address-secondary-color: rgba(255, 255, 255, 0.6);
  /* title */
  --therd-section-title-color: #2e2f42;
  --title-link-color: #2e2f42;
  --title-team-color: #2e2f42;
  /* logo */
  --logo-up-color: #000000;
  --logo-down-color: #ffffff;
  --logo-text-color: #2e2f42;
  --logo-color: #4d5ae5;
  /* buttons */
  --button-bg-color: #f4f4fd;
  --button-color-text: #4d5ae5;
  --button-focus-bg-color: #404bbf;
  --button-focus-color: #ffffff;
  /* team card */
  --team-card-bg: #ffffff;
  /* misc */
  --secondary-link-color: #434455;
  --accent-color: #2e2f42;
  --paragraph-text-color: #434455;
  /* footer */
  --footer-paragraph-text: #f4f4fd;
  --web-color: #4d5ae5;
  /* box-shadow */
  --box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  --line-height-h: 1.2;
  --line-height-p: 1.5;
  --letter-spacing-h: 0.04em;
  --letter-spacing-p: 0.02em;
  --links-color: #4d5ae5;
}

img {
  display: block;
  max-width: 100%;
}

h2,
h3 {
  margin: 0px;
}
p {
  margin: 0px;
}

.nav-bar,
.logo-nav,
.nav-address,
.nav-list,
.address-list,
.featurs-list,
.samples-list,
.team-list,
.filters-list,
.projects-list {
  display: flex;
}

body {
  margin: 0px;
  color: #434455;
  background-color: var(--primary-bg-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* HEADER */

.nav-bar {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--magic-color);
  border-bottom: 1px solid #e7e9fc;
}

.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo-top {
  margin-right: 76px;
  text-decoration: none;
}

.web-top,
.studio-top {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.web-top {
  color: #4d5ae5;
}

.studio-top {
  color: #2e2f42;
}

.nav-list {
  margin: 0;
  padding-left: 0;
}

.nav-item:not(:last-child),
.address-item:not(:last-child) {
  margin-right: 40px;
}

.nav-item {
  list-style-type: none;
}

.nav-text {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* NAV */

.menu-nav {
  display: flex;
  flex-direction: row;
  width: 261px;
  justify-content: space-between;
  padding: 0;
}

.nav > .list .link {
  color: var(--title-link-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav > .list .link:hover,
.nav > .list .link:focus {
  color: #404bbf;
}

/* CONTACTS */

.address-list {
  margin: 0;
  padding-left: 0;
}

.address-text {
  font-style: normal;
  line-height: var(--line-height-p);
  letter-spacing: var(--letter-spacing-p);
  color: #434455;
  text-decoration: none;
}

.address-item {
  list-style-type: none;
}

.nav-text:hover,
.nav-text:focus,
.address-text:hover,
.address-text:focus {
  color: var(--hover-color);
}

/* TITLE */

.title {
  color: var(--title-link-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.title_team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-team-color);
}

.third-section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--therd-section-title-color);
  margin-top: 120px;
  margin-bottom: 72px;
}

/* BANER (SECTION 1) */

.hero {
  height: 600px;
  background-color: var(--footer-hero-bg-color);
}

.hero-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  padding-top: 188px;
  margin: 0px;
}

.hero-button {
  padding: 16px 32px;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffffff;
  text-decoration: none;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
}

.button:hover,
.button:focus {
  color: #404bbf;
  background-color: #404bbf;
}

/* SECTION 2 */

.advantages {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
}

.paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--paragraph-text-color);
  margin-top: 8px;
}

.advantages-container > .list {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
  flex-basis: calc(100% / 4);
  margin-top: 120px;
}

.advantages-text {
  margin-right: 24px;
}

/* <!-- WHAT ARE WE DOING (SECTION 3) --> */

.list {
  list-style-type: none;
  display: flex;
  margin: 0px;
  padding: 0px;
}

.list-x:nth-child(n + 2) {
  margin-left: 24px;
}

/* TEAM (SECTION 4) */

.team-container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
}

.team-name {
  margin-top: 120px;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  -webkit-text-stroke: 1px #000000;

  padding-top: 120px;
}

.team-section {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
}

.team-card {
  width: 264px;
  height: 380px;
  background-color: var(--team-card-bg);
  border-bottom: 1px solid #e7e9fc;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team {
  background: #f4f4fd;
  height: 732px;
}

.card {
  background-color: var(--primary-bg-color);
}

.card > .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.card > .text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}

.link {
  text-decoration: none;
}

.footer > .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* background-color: var(--logo-text-color); */
  color: var(--logo-color);
  text-decoration: none;
}

.span {
  color: #f4f4fd;
}

.span_first {
  color: #2e2f42;
}

.address {
  color: var(--address-color);
  font-style: normal;
  list-style: none;
}

.portfolio-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02;
  color: var(--secondary-link-color);
}

/* GALLERY BUTTON */

.gallery-button {
  color: var(--gallery-button-color);
  background-color: var(--button-bg-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  width: 69px;
  height: 48px;
}

.galerry-button:hover,
.galerry-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}

/* ROW */

.row-box {
  border: 1px solid #e7e9fc;
  width: 360px;
  height: 420px;
}

.galerry-card {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.galerry-card .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: start;
}

.link.galerry-card > .galerry-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--paragraph-text-color);
}

.footer > .logolink {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}

.footer > .link {
  text-decoration: none;
}

/* PORTFOLIO */

/* FILTERS (SECTION 2) */

.filters-container {
  width: 586px;
  margin-left: auto;
  margin-right: auto;
}

.filters {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 96px;
}

.filters-button {
  display: inline-block;
  padding: 12px 24px 12px 24px;
  background: var(--button-bg-color);
  color: var(--button-color-text);
  border-radius: 4px;
  text-decoration: none;
  list-style-type: none;
  flex-wrap: wrap;
  border: 1px solid #e7e9fc;
}

.filters-button:focus,
.filters-button:hover {
  background-color: var(--button-focus-bg-color);
  color: var(--button-focus-color);
  border: 1px solid var(--button-focus-bg-color);
}

/* LIST (SECTION 3) */

.card-set {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 28px;
  margin-left: -24px;
  margin-bottom: 120px;
}

.container {
  /* background-color: rgb(255, 196, 196); */
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
}

.card-set > .item {
  flex-basis: calc(100% / 3 - 24px);
  margin-left: 24px;
  margin-top: 48px;
}

.card {
  width: 360px;
  margin-right: 0px;
  border-bottom: 1px solid #e7e9fc;
}

.card-content {
  padding-top: 32px;
  padding-bottom: 32px;
}

.card-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
}

.card-text {
  margin-top: 8px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
}

/* FOOTER */

.footer {
  /* margin-top: 120px; */
  height: 312px;
  background-color: var(--footer-hero-bg-color);
}

.footer-text {
  width: 264px;
  height: 112px;
  padding: 100px 1020px 100px 156px;
}

.footer-paragraph {
  color: var(--footer-paragraph-text);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  padding-top: 17.5px;
}

.logo-text {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-link {
  color: var(--web-color);
}

.span-studio {
  color: var(--footer-paragraph-text);
}
